    body{
        background-color: #ead898;
    }
    .task {
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 10px;
      background-color: rgb(205, 82, 82); 
      color: white;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .buttons {
      margin-top: 10px;
    }
    .buttons button {
      margin-right: 5px;
    }
    .timestamp {
      font-size: 0.9em;
      color: #fff;
      margin-top: 5px;
    }
    #taskInput{
        height: 20px;
        width: 250px;
    }
    #taskInputBtn{
        height: 25px;
        width: 60px;
    }

    .doneBtn{
        background-color: rgb(93, 176, 93);
    }
    .deletBtn{
        background-color: #fa0303;
    }
